


.feed{
  flex:.5;
  border-right: 1px solid var(--twitter-background);
  overflow-y: auto;
  
}
.feed::-webkit-scrollbar{
 display: none;
}
.feed_header{
  position: sticky;
  top: 0;
  /* border-bottom: 1px solid var(--twitter-background); */
  padding: 12px 20px;
  background-color: white;
  z-index: 100;
}
.feed_header>h2{
  font-size: 20px;
  font-weight: 700;
}