body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
  --twitter-btncolor: rgb(29, 155, 240);
}

.app {
  display: flex;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}
